extends layout

block content
  form(action="/checkaccount")
    h6 Let's Access
    p.fs-7 First lets check your account
    label(for="email")
    input#email(type="text", name="email" placeholder="Email address")/
    p.email.error
    button Check My Email

block scripts
  script(src="/js/checkaccount.js")

