if doc
  nav.navbar.justify-content-around.shadow-sm.sticky-bottom
      ul.nav
        a.nav-link.fs-7.px-2( href="/home") Home
      ul.nav
        a.nav-link.fs-7.px-2(href="/meal/recipe") Meals
      ul.nav
        a.nav-link.fs-7.px-2( href="/food/search") &#x2b;
      ul.nav
        a.nav-link.fs-7.px-2( href="/exercises/all") Exercise
      ul.nav
        a.nav-link.fs-7.px-2( href="/logout") Logout