nav.navbar.justify-content-around
    ul.nav
      a.nav-link.fs-7.px-2( href="/home") Home
    ul.nav
      a.nav-link.disabled.fs-7.px-2(href="#") Meals
    ul.nav
      a.nav-link.disabled.fs-7.px-2( href="#") &#x2b;
    ul.nav
      a.nav-link.disabled.fs-7.px-2( href="#") Exercise
    ul.nav
      a.nav-link.fs-7.px-2( href="/logout") Logout