extends layout

block content
  h3.mb-6.text-bold Healthy Living For Kids
  hr

  .row
    .col.text-center
      h5.text-center Easy meal logger
      img(src="/images/healthy_options.png", alt="", sizes="", srcset="" width="200px")
    .col.text-center
      h5.text-center Healthy recipes
      img(src="/images/groceries.png", alt="", sizes="", srcset="" width="200px")
  .row
    .col.text-center
      h5 Bodyweight and workout for Kids
      img(src="/images/healthy_habit.png", alt="", sizes="", srcset="" width="200px")
    .col.text-center
      h5.text-center Track Calories
      img(src="/images/diet.png", alt="", sizes="", srcset="" width="150px")

  button.btn
    a#homelink.text-decoration-none.gray-100(href="/home") Get Early Access
