extends layout

block content
  h5 Seach Food to Track
  p.fs-7 Select one food from the list
  #Foods
    input.form-control.search(type="text" placeholder="What is in your diet today? ")
    ul.list.list-group.mt-2
    ul.pagination



  include footer
block scripts
  script(src="/js/searchFoodList.js")



